/*중앙 정렬*/
body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #eaeaea;
    font-family: "Open Sans", sans-serif;
}
/* 시작 화면과 게임 화면의 공통 스타일 */
#game-container,
#start-container {
    text-align: center;
    position: relative;
}
/* 시작 화면 */
#start-container {
    display: flex;
    flex-flow: column wrap;
    width: 700px;
    height: 840px;
    border: #2c3e50 solid 3px;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    border-radius: 7px;
}
h1 {
    all: unset;
    margin: 0;
    padding: 0;
    font-size: 130px;
    color: #2c3e50;
    font-weight: 800;
}
.start-box {
    display: flex;
    flex-flow: row wrap;
    font-size: 96px;
    font-weight: 700;
    color: #ffffff;
    gap: 15px;
    width: 315px;
    margin-top: 20px;

    .start-box1,
    .start-box2,
    .start-box3,
    .start-box4 {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 7px;
        width: 150px;
        height: 150px;
    }
    .start-box1 {
        background-color: #d4a017;
    }
    .start-box2 {
        background-color: #a8a8a8;
    }
    .start-box3 {
        background-color: #8b3a3a;
    }
    .start-box4 {
        background-color: #2c3e50;
    }
}
#start-btn {
    background-color: #2c3e50;
    border-radius: 7px;
    width: 120px;
    height: 50px;
    margin-top: 60px;
    color: #ffffff;
    font-size: 22px;
    font-weight: 800;
    text-transform: uppercase;
    cursor: pointer;
}
/* 게임 시작 전에는 게임 화면을 숨김 */
#game-container {
    display: none;
    padding: 0;
}
/*게임창*/
.game-screen-container {
    display: flex;
    flex-flow: row wrap;
}
.game-screen {
    display: grid;
    padding: 22px 23px 20px 23px;
    width: 700px;
    height: 870px;
    border: #2c3e50 solid 3px;
    background: #fff;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
    padding: 0;
}

/*보드*/
.board {
    display: grid;
    width: 640px;
    height: 640px;
    background: #2c3e50;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px;
    grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
}
