/*중앙 정렬*/
body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #dbdbdb;
}
/* 시작 화면과 게임 화면의 공통 스타일 */
#game-container,
#start-container {
    text-align: center;
    position: relative;
}
/* 게임 시작 전에는 게임 화면을 숨김 */
#game-container {
    display: none;
}
/*보드*/
.board {
    display: grid;
    gap: 10px;
    background: #2c3e50;
    padding: 10px;
    border-radius: 10px;
}
/*게임창*/
.game-scren {
    padding: 10px 10px 50px 10px;
    border: #36454f solid 1px;
    background: #fff;
    border-radius: 5px;
}
/*설명*/
h2 {
    font-size: 15px;
}
/*설명 상단*/
.explanation-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 50px;
}
/*셀*/
.cell {
    width: 80px;
    height: 80px;
    background: #566573;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    border-radius: 5px;
}
/*숫자값에 따른 색상변화*/
.cell[data-value="2"] {
    background: #f5f5dc;
    color: #36454f;
}
.cell[data-value="4"] {
    background: #cbddd6;
    color: #36454f;
}
.cell[data-value="8"] {
    background: #c0d6df;
    color: #36454f;
}
.cell[data-value="16"] {
    background: #c4a69f;
    color: #fff;
}
.cell[data-value="32"] {
    background: #7a8a99;
    color: #fff;
}
.cell[data-value="64"] {
    background: #566573;
    color: #fff;
}
.cell[data-value="128"] {
    background: #26466d;
    color: #fff;
}
.cell[data-value="256"] {
    background: #191970;
    color: #fff;
}
.cell[data-value="512"] {
    background: #5d3a66;
    color: #fff;
}
.cell[data-value="1024"] {
    background: #8b3a3a;
    color: #fff;
}
.cell[data-value="2048"] {
    background: #d4a017;
    color: #fff;
}
.cell[data-value="4096"] {
    background: #708238;
    color: #fff;
}
.cell[data-value="8192"] {
    background: #b2ac88;
    color: #fff;
}
